<h3>言語リスト</h3>
	<span><i class="icon-home"></i><%= link_to "HOME", "/"  %></span>
<h6>駄コードリスト</h6>
<div><i class="icon-thumbs-up"></i><%= link_to "人気コード", "/"  %></div>
<div><i class="icon-envelope"></i><%= link_to "新着コード", "/"  %></div>
<div><i class="icon-pencil"></i><%= link_to "新着コメント", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "ruby", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "perl", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "hashkell", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "JavaScript", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "Objective-C", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "C", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "C++", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "D", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "R", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "Python", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "php", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "VBA", "/"  %></div>

<h6>駄フレームワーク</h6>
<div><i class="icon-list-alt"></i><%= link_to "Rails", "/"  %></div>
<div><i class="icon-list-alt"></i><%= link_to "Smarty", "/"  %></div>

